{% extends 'my_template.jinja2' %}
{% block content %}


    <form method="post">
        <center>
            <h3>Введите ваш email, пожалуйста</h3>
            <input type="hidden" size="40" name="next" value="{{ next }}">
            <input type="text" size="40" name="email" class="input">
            <Br><input type="submit" class="button" value="Восстановить">
        </center>
        </p>
        {% if failed_attempt %}
            <center><h4>Вы ввели несуществующий в нашей базе email!</h4></center>
        {% endif %}
    </form>


{% endblock %}