{% extends 'my_template.jinja2' %}
{% block content %}
    <center>
        <form method="post">
            <h1>Смена пароля</h1>

            <p><b class="text">Введите новый пароль:</b><br>

            <p><input type="password" class="input" size="40" name="password">
            <br><input type="submit" class="button" value="Сменить пароль">
            <br>
            </p>
            <h3>{{ Messege }}</h3>
        </form>
        {% if failed_attempt %}
            <center><h3>Не удалось сменить пароль.</h3></center>
        {% endif %}
    </center>



{% endblock %}