{% extends 'my_template.jinja2' %}
{% block content %}


    <a href="/calculate" class="button">Добавить показания</a>

    <div style="overflow: auto; height: 500px; max-width: 1000px">
        <table id="hor-minimalist-a">
            <thead>
            <tr>
                <th scope="col">Дата снятия показания</th>
                <th scope="col">Услуга</th>
                <th scope="col">Затраты</th>
            </tr>
            </thead>
            <tbody>
            {% for i in history %}
                <tr>
                    <td>{{ i.date }}</td>
                    <td>{{ services[i.service_id-1] }}</td>
                    <td>{{ i.cost }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}






{#    <form method="post">#}
{#        <p>#}
{#            <select id="countries" class="select" name="countries">#}
{#                <option>Выберите Cтрану</option>#}
{#                {% for country in countries %}#}
{#                    <option value={{ country.id }} class={{ country.id }}>{{ country.name }}</option>#}
{#                {% endfor %}#}
{#            </select>#}
{#        </p>#}
{##}
{##}
{#        <p>#}
{#            <select id="regions" class="select" name="regions">#}
{#                <option>Выберите Регион</option>#}
{#                {% for region in regions %}#}
{#                    <option value={{ region.id }} class={{ region.country_id }}>{{ region.name }}</option>#}
{#                {% endfor %}#}
{#            </select>#}
{#        </p>#}
{##}
{##}
{#        <p>#}
{#            <select id="tarifs" class="select" name="tarifs">#}
{#                <option>Выберите Тариф</option>#}
{#                {% for tarif in tarifs %}#}
{#                    <option value={{ tarif.id }} class={{ tarif.region_id }}>{{ services[tarif.service_id-1] }}</option>#}
{#                {% endfor %}#}
{#            </select>#}
{#        </p>#}
{##}
{#        <script src="http://code.jquery.com/jquery-latest.min.js"></script>#}
{#        <script src="jquery.chained.js"></script>#}
{#        <script type="text/javascript"#}
{#                src="http://awesome-design.com/templates/awesome-design/js/jquery.chained.js"></script>#}
{##}
{#        <script>#}
{#            $("#regions").chained("#countries");#}
{#            $("#tarifs").chained("#regions");#}
{#            $("#countries").chained("#regions");#}
{#                $("#series").chained("#mark");#}
{#        </script>#}
{##}
{##}
{#        <p><input type="text" class="input" size="40" name="startValue"></p>#}
{#        <input type="submit" class="button" value="Посчитать">#}
{#    </form>#}