{% extends 'my_template.jinja2' %}
{% block content %}


    <a href="/calculate" class="button">Добавить показания</a>

    <div style="width: 90%">

        <div class="section" style="overflow: auto; height: 500px; max-width: 1000px">
            <table id="hor-minimalist-a" class="tablesorter" cellspacing="1">
                <thead>
                <tr>
                    <th title="Кликните для сортировки">Дата снятия показания</th>
                    <th title="Кликните для сортировки">Услуга</th>
                    <th title="Кликните для сортировки">Затраты</th>
                </tr>
                </thead>
                <tbody>
                {% for i in history %}
                    <tr>
                        <td>{{ i.date }}</td>
                        <td>{{ services[i.service_id-1] }}</td>
                        <td>{{ i.cost }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>


        <script type="text/javascript" src="\static\js\jquery-latest.js"></script>
        <script type="text/javascript" src="\static\js\jquery.tablesorter.js"></script>

        <script>
            $(document).ready(function () {
                $("#hor-minimalist-a").tablesorter();
            });
        </script>


        <script type='text/javascript' src='http://www.google.com/jsapi'></script>
        <script type='text/javascript'>
            google.load('visualization', '1', {'packages': ['annotatedtimeline']});
            google.setOnLoadCallback(drawChart);
            function drawChart() {
                var list = [];
                var j = 0;
                {% for i in history %}
                    list[j] = [new Date({{ i.date.year }}, {{ i.date.month }}, {{ i.date.day }}), {{ i.cost }},
                        '{{ services[i.service_id-1].name }}']
                    j++;
                {% endfor %}
                var data = new google.visualization.DataTable();

                data.addColumn('date', 'Дата снятия показания');
                data.addColumn('number', 'Затраты(в руб.)');
                data.addColumn('string', 'Услуга');
                data.addRows(list);

                var chart = new google.visualization.AnnotatedTimeLine(document.getElementById('chart_div'));
                chart.draw(data, {displayAnnotations: true});
            }
        </script>

        <div id='chart_div' class="section" style='width: 50%; margin-right: 0px'></div>

    </div>
{% endblock %}



